:root {
  --background: #000000;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

.container {
  position: absolute;
  top: 150px;
  left: 50px;
  max-width: 20vw;
  border: #171717 2px solid;
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(37, 37, 37, 0.5);
  color: white;
  font-family: Arial, sans-serif;
  z-index: 10;
}

